.user{
  display: flex;
  &_ava{
    margin-right: 8px;
  }
  &_info{
    .title{
      margin-bottom: 4px;
      font-size: 14px;
    }
  }
  .user_info{
    width: 100%;
    span {
      margin-bottom: 4px;
      display: inline-block;
    }
    input{
      width: calc(100% - 7px);
    }
    .btn{
      margin-top: 8px;
    }
  }
}

.my_sales{
  .sale{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #bbb;
    a{
      font-size: 14px;
    }
  }
}