@import "color";
.all_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item .item_content {
  /*  position : absolute;*/
  padding  : 6px;
  /*  width    : 200px;*/
  .price {
    .title_price {
      font-weight: 400;
      display: block;
      width: calc(100% - 40px);
      text-align: center;
      padding: 0 20px 0 20px;
      font-size: 20px;
      margin: 4px 0px 4px 0px;
    }
  }
  .time {
    display          : inline-block;
    color            : $white;
    width            : 97px;
    height           : 20px;
    margin-bottom: 8px;
    border-radius: 14px;
    .icon {
      font-size   : 16px;
      float       : left;
      display     : inline-block;
      margin-left : 3px;
      margin-top  : 1px;
      color       : $color_flamingo_approx;
    }
    .title_count {
      font-size   : 15px;
      padding     : 1px;
      display     : flex;
      // margin-left : -15px;
      .btn_qty{
        width: 20%;
        .qty{
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin-left: 4px;
          line-height: 14px;
          text-align: center;
          margin-top: 2px;
          cursor: pointer;
        }
      }
      input{
        width: 55%;
        background-color: inherit;
        border-width: 0px;
        outline: none;
        // width: 24px;
        text-align: center;
        font-size: 14px;
        color: white;
      }
    }
  }
  .item_info {
    padding-bottom : 2px;
    height         : 20px;
  }
  .user_name {
    font-size      : 15px;
    padding-bottom : 5px;
  }
  .user {
    display       : block;
    margin-bottom : 2px;
    width         : 200px;
  }
  .title {
    display: block;
    width: calc(100% - 20px);
    text-align: center;
    padding: 0 10px 5px 10px;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    height: 60px;
  }
  .img_item {
    height         : 225px;
    padding-bottom : 2px;
    img {
      height    : 195px;
      max-width : 200px;
    }
  }
  .button_rate {
    /*    background-color : $color_flamingo_approx;*/
    height           : 30px;
    font-size        : 18px;
    line-height      : 30px;
    color            : $white;
    cursor           : pointer;
    &:hover {
      filter: grayscale(20%);
    }
    &.false{
      background-color : $color_mako_approx;
      cursor: not-allowed;
      &:hover {
        background-color : $color_mako_approx;
      }
    }
  }
}

.item_content .user {
  font-size        : 15px;
  background-color : $color_mako_approx;
  width            : 155px;
  height           : 20px;
  color            : $white;
  display          : inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .icon {
    font-size   : 16px;
    float       : left;
    display     : inline-block;
    margin-left : 3px;
    margin-top  : 2px;
  }
  .user_name {
    padding : 1px;
    display : inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 134px;
  }
}
.allItems{
  .mobileDevice{
    display: none;
  }
  .fullDevics{
    display: initial;
  }
}

.allItems.category{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item{
    width: 100%;
    max-width: calc(50% - 4px);
    margin-bottom: 4px;
    height: 280px;
    .item_content{
      position: initial;
      width: 100%;
      padding: 0;
      .item_link{
        display: inline-block;
        padding: 4px;
        .img_item{
          max-width: 100%;
          width: 100%;
          height: 226px;
          max-height: 220px;
          img{
            height: 100%;
            max-width: 100%;
          }
        }
      }
      .title{
        overflow: inherit;
        white-space: initial;
        text-overflow: initial;
/*        width: 100%;*/
        margin-top: 8px;
      }
    }
  }
} 

.item {
  background-color   : #FFF;
  height             : 400px;
  width              : 220px;
  display            : inline-block;
  margin-left        : 3px;
  margin-bottom      : 2px;
  -moz-box-shadow    : 0 1px 4px rgba(51, 82, 109, 0.26);
  -webkit-box-shadow : 0 1px 4px rgba(51, 82, 109, 0.26);
  box-shadow         : 0 1px 4px rgba(51, 82, 109, 0.26);
}

.item.product{
  height: 280px;
}

.item.product .item_content .img_item{
  height: 200px;
}

.item.product .item_content .title{
  overflow: inherit;
  white-space: initial;
  text-overflow: initial;
  width: 188px;
  margin-top: 8px;
}